{% macro displayQuestions(questions) %}
    {% for question in questions %}
    <div class='col-md-8'>
        <div>
            <table>
                <tr>
                    <td>{{ question.question}}</td>
                </tr>
                {% for ans in question.all_answers%}
                <tr>
                    <td><input type='radio' class='rb' name='{{question.id}}' value='{{ans}}'/>{{ans}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><span class='rb' style='display:none;color:blue;'>The correct answer is <b><label class='corranswer' id='{{question.id}}' >{{question.correct_answer}}</label></b></span></td>
                </tr>
            </table>
            
        </div><br>
    </div>
    {% endfor %}
{% endmacro %}

{% macro displayUsers(users) %}
    {% for user in users %}
    <span>{{user.id}}. </span>
        <span>{{ user.name| capitalize}}</span>
        <span>{{user.marks}}</span><br>
    {% endfor %}
{% endmacro %}